<div class="footer">    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Thông tin</h4>
                <ul>
                    <li><a href="about.html">Giới thiệu</a></li>
                    <li><a href="contact.html">Dịch vụ</a></li>
                    <li><a href="#">Tìm kiếm nâng cao</a></li>
                    <li><a href="delivery.html">Giao Hàng và Thanh Toán</a></li>
                    <li><a href="contact.html">Chính sách bảo hành và đổi trả</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>My account</h4>
                <ul>
                    <li><a href="~/User/DangNhap">Đăng nhập</a></li>
                    <li><a href="~/GioHang/GioHang">Xem giỏ hàng</a></li>
                    <li><a href="#">Sản phẩm yêu thích</a></li>
                    <li><a href="#">Theo dõi đơn hàng của tôi</a></li>
                    <li><a href="contact.html">Hỗ trợ</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h4>Tổng đài hỗ trợ (Miễn phí gọi)</h4>
                <ul>
                    <li><span>+84-962-293112</span></li>
                </ul>
                <div class="social-icons">
                    <h4>Theo dỗi chúng tôi</h4>
                    <ul>
                        <li><a href="#" target="_blank"><img src="~/images/facebook.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="~/images/twitter.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="~/images/skype.png" alt="" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="~/images/dribbble.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"> <img src="~/images/linkedin.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>&copy; 2022 Home_Shoppe. All rights reserved | Design by <a href="#">Phan Minh Huy</a></p>
    </div>
</div>

